.button {
  font-family: var(--font);
  font-weight: bold;
  color: var(--white);
  height: 48px;
  min-width: 123px;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.one {
  background-color: #5964e0;
}

.one:hover {
  background-color: var(--lightViolet);
}
