:root {
  --font: "Kumbh Sans", sans-serif;
  font-family: var(--font);
  --violet: #6e8098;
  --lightViolet: #939bf4;
  --veryDarkBlue: #19202d;
  --midnight: #121721;

  --white: #fff;
  --lightGrey: #f4f6f8;
  --grey: #9daec2;
  --darkGrey: #6e8098;
}

body {
  background-color: #f2f2f2;
  width: 100wv;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  padding: 0;
}
